{
	"site_name" : "My Blog",
	"author" : "PhucTH",
	"post_per_page" : 10,
	"post_dir" : "./posts",
	"permalink" : "/blog/{YEAR}/{MONTH}/{DAY}/{TITLE}/",

	"ga_id" : "",
	"fb_app_id" : "",
	"debug" : true
}
